body{
  background-image: url("photosun.jpg");
   background-size: cover;
}
h1{
	
}
p{
	
	font-size: 22px;
}
.show{
	display: none;
}
.buttons {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.buttons:hover {
  background-color: #555555;
  color: white;
}
.correct{
	color: limegreen;
}
.incorrect{
	color:red;
}
.correct1{
	color: limegreen;
}
.incorrect1{
	color:red;
}
.correct2{
	color: limegreen;
}
.incorrect2{
	color:red;
}
.answers{
	display: none;
}

	
